{% extends "jigyasa/base.html" %}
{% load static %}
{% block content %}


<div class="site-section site-hero inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <span class="d-block mb-3 caption" data-aos="fade-up">Get To Know</span>
        <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">About Us</h1>
      </div>
    </div>
  </div>
</div>


<!-- about ------------------------------------------------------------------------------ -->
<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4 ">
        <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
          <h2>Welcome To FIPI</h2>
        </div>
      </div>
      <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
        <p>The Federation of Indian Petroleum Industry Student (FIPI) was founded by distinguished members representing the entire spectrum of the hydrocarbon industry and was named Petrotech Student Chapter. The Governing Council of the society is well represented by the multinational, private sector and major public sector oil companies. </p>
        <p>The society functions under the ambit of Memorandum of Association and its Bye-laws. The primary objective was to create a knowledge sharing environment between the industry players and the PETROTECH STUDENT CHAPTER (now, FIPI SC), being the first of its kind.</p>
      </div>
    </div>
    <div class="row mb-5 align-items-center justify-content-center">
      <div class="col-12" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'images/events-poster.jpg' %}" alt="Image" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">UPES FIPI</span></div>
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
        <p>Since its inception in 2007, the UPES FIPI Student Chapter (erstwhile known as UPES Petrotech Student Chapter) has been instrumental in training the novices, while polishing the students pursuing advanced levels in academics, and has earned tremendous respect because of this reason. In pursuit of the same, 12 chapters across the nation were established, with UPES FIPI SC being awarded “The Best Chapter” award for several years along with “The Best Presentation” award. Recently, the chapter has been awarded with the Best Presentation Award at the 8th FIPI Convention held in 2018.</p>
        <p>UPES FIPI Student Chapter is the oldest student chapter in UPES.</p>
        <p class="mb-5">We have conducted a splendorous chain of events including several weeks like Chemical Week, English Week and numerous other events. We have had a huge successful winter colloquium for the academic session 2017-18, JIGYASA which was held in November 2017. We have had Dr. Rafat Jamaal (Humboldt Fellow, Scientist G and Head, Biostratigraphy Division, Wadia Institute of Himalayan Geology and Associate Advisor) and Dr. Anil Kumar (Ex-Deputy General Manager, Reservoir and ONGC) as key guest speakers. Apart from these lectures, we had conducted four major events successfully and saw huge participation of students from the university. The events were ‘Transcendence’ which was the paper presentation competition, ‘Envisage’, the poster presentation competition, ‘Knock Down Buzz’, a symposium cum quiz event and ‘Petro hunt’, the treasure hunt.</p>
        <p class="mb-5">This year the UPES FIPI Student Chapter is back bigger and better and we want you to join us in this year’s journey of curiosity. This year we bring you an opportunity to be part of an exclusive sponsorship club and sponsor JIGYASA, Powered by HPCL, helping us in making it a phenomenal success and delivering happiness and the gift of knowledge to students happy and proud of taking home the knowledge. JIGYASA would be held during 5-6th April, 2019.</p>
      </div>
    </div>
  </div>
</div>
<!-- about ------------------------------------------------------------------------------ -->



<!-- team ----------------------------------------------------------------------------------------------- -->
<div class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-4 mb-5">
        <div class="site-section-heading" data-aos="fade-up">
          <h2 class="text-center">Our Team</h2>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="100">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/adil.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. ADIL KHAN KHOKHAR</p>
            <p class="text-muted mb-4">PRESIDENT-UPES FIPI SC</p>

          </blockquote>
        </div>
      </div>

      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/soumya.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. SOUMYA SPARSH</p>
            <p class="text-muted mb-4">VICE-PRESIDENT</p>

          </blockquote>
        </div>
      </div>

      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="300">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/tarun.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. TARUN KUMAR</p>
            <p class="text-muted mb-4">NOMINATIONS CHAIRPERSON</p>

          </blockquote>
        </div>
      </div>

      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="400">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/anit.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. ANIT KUMAR SINHA </p>
            <p class="text-muted mb-4">VICE PRESIDENT </p>

          </blockquote>
        </div>
      </div>

      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="500">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/maulshree.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MS. MAULSHREE SHARMA</p>
            <p class="text-muted mb-4">ALUMNI OFFICER</p>

          </blockquote>
        </div>
      </div>

      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/mansi.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MS. MANSI PAREEK</p>
            <p class="text-muted mb-4">CHAPTER ADVISOR</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/muskaan.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MS. MUSKAAN AGARWAL</p>
            <p class="text-muted mb-4">CHAPTER OFFICER </p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/manu.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. MANU CHATURVEDI</p>
            <p class="text-muted mb-4">SECRETARY</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/rishabh.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. RISHABH SINGH BHANOT </p>
            <p class="text-muted mb-4">NOMINATIONS ASSOCIATE</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/malvika.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MS. MALVIKA BAJPAI </p>
            <p class="text-muted mb-4">TREASURER</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/animesh.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. ANIMESH CHOUDHARY</p>
            <p class="text-muted mb-4">INDUSTRY LIAISON</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/ankit.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. ANKIT KUMAR JAISWAL</p>
            <p class="text-muted mb-4">Social Activities Chairperson</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/amey.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. AMEY AVANISH</p>
            <p class="text-muted mb-4">EVENTS HEAD</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/manan.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. MANAN MANOJ ADLAKHA</p>
            <p class="text-muted mb-4">PUBLIC RELATIONS HEAD</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/gaurav.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. GAURAV KUMAR </p>
            <p class="text-muted mb-4">MEMBERSHIP AND REGISTRATIONS HEAD</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-3 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/navjot.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. NAVJOT SINGH</p>
            <p class="text-muted mb-4">GRAPHICS AND DESIGNING HEAD</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-6 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/sankalp.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MR. SANKALP SINGH</p>
            <p class="text-muted mb-4">EDITORIAL HEAD</p>

          </blockquote>
        </div>
      </div>


      <div class="col-6 col-lg-6 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
        <div class="testimony text-center">
          <figure>
            <img src="{% static 'images/members/ayushi.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author mb-0">MS. AYUSHI SRIVASTAVA</p>
            <p class="text-muted mb-4">PUBLICITY HEAD</p>

          </blockquote>
        </div>
      </div>


    </div>



  </div>
</div>
<!-- team end ----------------------------------------------------------------------------------------------- -->


<div class="site-section" data-aos="fade">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-4 mb-5">
        <div class="site-section-heading">
          <h2 class="text-center">Technical Developers</h2>
        </div>
      </div>
    </div>

    <div class="slide-one-item home-slider owl-carousel">

      <div class="row justify-content-center">

        <div class="testimony text-center col-9 col-md-4">
          <figure>
            <img src="{% static 'images/technical/tanmay.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author">Tanmay Agarwal <br> <a href = "mailto: tanmayag8958@gmail.com"><span class="far fa-envelope"></span> tanmayag8958@gmail.com</a></p>
            </blockquote>
        </div>
      </div>

      <div class="row justify-content-center">
       <div class="testimony text-center col-9 col-md-4">
          <figure>
            <img src="{% static 'images/technical/shubham.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author">Shubham Jaswal <br> <a href = "mailto: shubhamjaswal772@gmail.com"><span class="far fa-envelope"></span> shubham__jaswal@hotmail.com</a></p>
          </blockquote>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="testimony text-center col-9 col-md-4">
          <figure>
            <img src="{% static 'images/technical/sneheel.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author">Sneheel Shivam <br> <a href = "mailto: shivamsneheel@gmail.com"><span class="far fa-envelope"></span> shivamsneheel@gmail.com</a></p>
          </blockquote>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="testimony text-center col-9 col-md-4">
          <figure>
            <img src="{% static 'images/technical/shaurya.jpg' %}" alt="Image" class="img-fluid">
          </figure>
          <blockquote>
            <p class="author">Shaurya Gairola <br> <a href = "mailto: shaurya96gairola@gmail.com"><span class="far fa-envelope"></span> shaurya96gairola@gmail.com</a></p>
          </blockquote>
        </div>
      </div>

    </div>





  </div>
</div>


<!-- sponsors------------------------------------------------------------------------------------------------ -->
<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4 ">
        <div class="site-section-heading" data-aos="fade-up">
          <h2>Member Organisations</h2>
        </div>
      </div>
      <br>
      <!-- <div class="col-lg-6 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="100">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus.</p>
      </div> -->
    </div>
    <div class="row">
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="200">
        <img src="{% static 'images/sponsors/logo1.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="300">
        <img src="{% static 'images/sponsors/logo2.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="400">
        <img src="{% static 'images/sponsors/logo3.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="500">
        <img src="{% static 'images/sponsors/logo4.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="600">
        <img src="{% static 'images/sponsors/logo5.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="700">
        <img src="{% static 'images/sponsors/logo6.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="200">
        <img src="{% static 'images/sponsors/logo7.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="300">
        <img src="{% static 'images/sponsors/logo8.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="400">
        <img src="{% static 'images/sponsors/logo9.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="500">
        <img src="{% static 'images/sponsors/logo10.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="600">
        <img src="{% static 'images/sponsors/logo11.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="700">
        <img src="{% static 'images/sponsors/logo12.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="200">
        <img src="{% static 'images/sponsors/logo13.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="300">
        <img src="{% static 'images/sponsors/logo14.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="400">
        <img src="{% static 'images/sponsors/logo15.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="500">
        <img src="{% static 'images/sponsors/logo16.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="600">
        <img src="{% static 'images/sponsors/logo17.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="700">
        <img src="{% static 'images/sponsors/logo18.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="200">
        <img src="{% static 'images/sponsors/logo19.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="300">
        <img src="{% static 'images/sponsors/logo20.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="400">
        <img src="{% static 'images/sponsors/logo21.png' %}" alt="Image" class="img-fluid">
      </div>

      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="500">
        <img src="{% static 'images/sponsors/logo22.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="600">
        <img src="{% static 'images/sponsors/logo23.png' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-3 col-lg-2 mb-1" data-aos="fade" data-aos-delay="600">
        <img src="{% static 'images/sponsors/logo24.png' %}" alt="Image" class="img-fluid">
      </div>


    </div>
  </div>
</div>



{% endblock content %}
