{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="{% static 'images/jigyasa.png' %}" />
    {% if title %}
      <title>JIGYASA - {{ title }}</title>
    {% else %}
      <title>JIGYASA</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <script type="text/javascript">
          alert("{{ message }}");
        </script>
      {% endfor %}
    {% endif %}
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="{% url 'jigyasa-home' %}" class="text-white h2 mb-0">JIGY<span class="text-primary">ASA</span> </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li {% if request.resolver_match.url_name == 'jigyasa-home' %}class="active"{% endif %}><a href="{% url 'jigyasa-home' %}">HOME</a></li>
                <li {% if request.resolver_match.url_name == 'jigyasa-about' %}class="active"{% endif %}><a href="{% url 'jigyasa-about' %}">ABOUT US</a></li>
                <li {% if request.resolver_match.url_name == 'jigyasa-events' %}class="active"{% endif %}><a href="{% url 'jigyasa-events' %}">EVENTS</a></li>
                <li {% if request.resolver_match.url_name == 'jigyasa-gallery' %}class="active"{% endif %}><a href="{% url 'jigyasa-gallery' %}">GALLERY</a></li>
                <li {% if request.resolver_match.url_name == 'jigyasa-contacts' %}class="active"{% endif %}><a href="{% url 'jigyasa-contacts' %}">CONTACT US</a></li>
                {% if user.is_authenticated %}
                  <li class="cta"><a href="{% url 'profile' %}"><span class="fas fa-user-graduate"></span> {{ user.username.upper }}</a></li>
                  <li class="cta"><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> LOGOUT</a></li>
                {% else %}
                  <li class="cta"><a href="{% url 'register' %}"><span class="fas fa-user-plus"></span> REGISTER</a></li>
                  <li class="cta"><a href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> LOGIN</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
      </div>
    </header>


      {% block content %} {% endblock %}


    <footer class="site-footer pb-0">
      <div class="container">
        <div class="row mb-0">
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">Contact Us</h2>
            <a href = "mailto: upesfipijigyasa@gmail.com"><span class="far fa-envelope"></span> upesfipijigyasa@gmail.com</a><br>
            <a href="tel:839-395-3114"><span class="icon-phone"></span> +91 839-395-3114</a>
            <p></p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading text-uppercase mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'jigyasa-about' %}">About Us</a></li>
              <li><a href="{% url 'jigyasa-events' %}">Events</a></li>
              <li><a href="{% url 'jigyasa-gallery' %}">Gallery</a></li>
              <li><a href="{% url 'jigyasa-contacts' %}">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">Connect with Us</h2>
            <p>
              <a href="https://www.facebook.com/upesfipi/" target="_blank" class="p-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="https://www.linkedin.com/in/upesfipi/" target="_blank" class="p-2"><span class="icon-linkedin"></span></a>
              <!-- <a href="#" class="p-2"><span class="icon-youtube"></span></a> -->
              <a href="https://www.instagram.com/upes_fipi/" target="_blank" class="p-2"><span class="icon-instagram"></span></a>
            </p>
          </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-center pb-0">
              <div class="border-top pt-3 pb-0">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; 2019 All rights reserved | <a href="https://colorlib.com" target="_blank" >Colorlib</a> <i class="icon-heart text-primary" aria-hidden="true"></i> Website Made by #hackapeeps
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
