{% extends "jigyasa/base.html" %}
{% load static %}
{% block content %}





<div class="site-section site-hero inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <span class="d-block mb-3 caption" data-aos="fade-up">Our Events</span>
        <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">Events</h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">


    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event1.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto">
        <h2 class="text-primary mb-4 name" data-aos="fade-right" data-aos-delay="200">TRANSCENDENCE</h2>
        <div class="bio pl-lg-5">
          <p class="mb-4" data-aos="fade-right" data-aos-delay="400">“A person’s creativity is only bounded by the limits of his vessel, not those of his mind.”<br>
Each individual retains the flair of innovation within themselves, regardless of its measure, a fragment of their conscience which urges them to incept and improve relentlessly. Yet their wheel of progress remains subdued, not due to their lack of potential, but due to the sparingly available opportunities fit for them to unleash their aptitude.<br>
With the motive of bringing together such talent and unraveling their imagination, UPES FIPI Student Chapter, unveils “Transcendence”, the premier technical paper presentation event among its peers, hosted under the mantle of the Chapter’s flagship academic colloquium of this session ”JIGYASA”. This event promises a gathering of participants from various accomplished institutions across the nation, convening to share their unique thoughts over the current trends in the Oil and Gas domain, exclusively in the upstream and downstream sector. “Transcendence” seeks out the inquisitive minds ready to outpour the world with their original prospects, and aims to provide the best presentation platform for their minds.
</p>

        </div>
      </div>
    </div>

    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event2.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto order-lg-1">
        <h2 class="text-primary mb-4 name" data-aos="fade-left" data-aos-delay="200">ENVISAGE</h2>
        <div class="bio pr-lg-5">
          <p class="mb-4" data-aos="fade-left" data-aos-delay="400">“Do not go where the path may lead, go instead where there is no path and leave a trail.”<br>
With great events, come great opportunities. Here we are escorting to you a congregation of events under the biggest affair of the year – JIGYASA. Designed exclusively for the disciples of the oil and gas sector, UPES FIPI Student Chapter introduces its exuberant poster presentation competition – Envisage, under the banner of Jigyasa. Rendering with a chance of showcasing virtual and technical superiority, the competition will be examining the participants over detailed in-depth knowledge of the oil and gas sector. Fluency and creativity will play a substantial part in acquiring a head-start over other partakers of the event. Now is the perfect time to lubricate your upstream and downstream knowledge and polish your presentation skills for the most awaited jamboree of the year.<br>
So, get ready to grab this golden snitch with both hands and equip yourself with all the sine qua non to flaunt your expertise.
</p>

        </div>
      </div>
    </div>

    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event3.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto">
        <h2 class="text-primary mb-4 name" data-aos="fade-right" data-aos-delay="200">KNOCKDOWN BUZZ</h2>
        <div class="bio pl-lg-5">
          <p class="mb-4" data-aos="fade-right" data-aos-delay="400">“The best teamwork comes from men, who are working independently towards one goal in unison.”<br>
Just like it takes 2 hands to make a clap, it takes two flints to light a fire, each one playing a vital role to achieve a simple goal - something which is impossible to achieve alone. Keeping up with this theme, UPES FIPI Student Chapter brings to you “The Knockdown Buzz”, a cumulative event which shall test the participant’s teamwork and adaptability in a team of 4.<br>
Consisting of two rounds, the first round will test the basic aptitude of a team with the means of a quiz and a group discussion conducted simultaneously. Teams qualified will be promoted to the second round where two selected members of each team shall indulge in an invigorating quiz based on their handpicked topics, while the other two will participate in a symposium where one of them will be part of a panel. All the formed panels will be given a common topic related to the Oil & Gas industry to express their perspectives as per the roles appointed to them (i.e. marketing analyst, drilling engineer etc.)<br>
The team with the best cumulative score will be adjudged the winning team.<br>
So, gear up with your words and skills to sink in the ocean of debates and knowledge.
</p>

        </div>
      </div>
    </div>


    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event4.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto order-lg-1">
        <h2 class="text-primary mb-4 name" data-aos="fade-left" data-aos-delay="200">DEUS EX MACHINA</h2>
        <div class="bio pr-lg-5">
          <p class="mb-4" data-aos="fade-left" data-aos-delay="400">“Nobody’s ever been arrested for a murder; they have only ever been arrested for not planning it properly.”<br>
Have you ever felt like you are a part of something different? Something more than your daily life? Something so deeply integrated with you psyche that you feel it all time? Something bound by the boring limitations of your routine? Something worth unleashing your hidden talents and proclaiming to the world that you are different from it?<br>
If you are a person who feels this way, how would you like to be a part of a life altering storyline? Something shrouded with an intense narrative, rich with plot and twists which may chill you to the bone.<br>
This JIGYASA, UPES FIPI Student Chapter brings “Dues Ex Machina”, a full-fledged storyline filled with subtle intricacies, which shall challenge your inquisitive imagination in abrupt scenarios involving life-altering events or situations dealing with life and death. This piece of fiction will last for many mini events organized in accordance with the progression of the story. Every participant will be prompted to reflect his strengths with his selections from multiple categories such as Time Constraints or Scavenging. The participant having the roster of the most cleared categories will be declared as the winner.<br>
So join us for this event, and craft your own narrative with the vast variety of “Dues Ex Machina”.
</p>

        </div>
      </div>
    </div>


    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event5.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto">
        <h2 class="text-primary mb-4 name" data-aos="fade-right" data-aos-delay="200">GUEST LECTURE</h2>
        <!-- <div class="bio pl-lg-5">
          <p class="mb-4" data-aos="fade-right" data-aos-delay="400">“Perfection is not attainable, but if we chase perfection we can catch excellence.”<br>
            Efficiency of an individual extends to numerous times when having fun in what they are doing. In this world of expanding technology, visual expertise has established itself as another name for fun in the present scenario, with movies being the foremost choice. To facilitate the emerging actors and directors of the nation, UPES FIPI Student Chapter is organizing ‘Hitchcock Revived’ under the banner of ‘Jigyasa’, the most celebrated event of the year. It is a two round event, designed exclusively for movie buffs. For the first round, teams will be creating a short movie. The movie duration could range from minimum 3 to a maximum of 5 minutes. All the movies will be posted on the Facebook page of the Chapter. 8 teams will qualify for the second round based on highest likes, comments and shares on their respective short films while 2 teams will be qualifying based on critics choice.<br>
Points awarded to the teams will be as follows:<br>
2 points per comment<br>
3 points per viewing minute<br>
4 points per like<br>
5 points per share<br>
The second round of the event is presentation based on the storyline, themes and message of the short film.<br>
So, don’t hold back and join in to let the short movies glide your team to the bag of gold.

</p>

        </div> -->
      </div>
    </div>

    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event6.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto order-lg-1">
        <h2 class="text-primary mb-4 name" data-aos="fade-left" data-aos-delay="200">EXIGENT: THE CASE STUDY CHALLENGE</h2>
        <div class="bio pr-lg-5">
          <p class="mb-4" data-aos="fade-left" data-aos-delay="400">Want to know the problems faced by engineers on field? Want to get acquainted with all that long data sheets and challenge yourself to find a solution? If you want to experience problems real time and challenge yourself, scratch your brains until you get a solution, this event is the one for you. This JIGYASA, UPES FIPI Student Chapter brings to you Exigent: The Case Study Challenge.
</p>
<a href="https://drive.google.com/drive/mobile/folders/1ZR_5CUy0iGCivIOP6BsUoaZ1YEKTWW6H" target="_blank" class="p-2">Click here for details.</a>

        </div>
      </div>
    </div>

    <div class="row align-items-center speaker">
      <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <img src="{% static 'images/events/event7.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 ml-auto">
        <h2 class="text-primary mb-4 name" data-aos="fade-right" data-aos-delay="200">EXHIBITION</h2>
        <!-- <div class="bio pl-lg-5">
          <p class="mb-4" data-aos="fade-right" data-aos-delay="400">No hints. An on the spot event to keep your curiosities alive.</p>

        </div> -->
      </div>
    </div>


  </div>
</div>

<!-- <div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4" data-aos="fade-up">
        <div class="site-section-heading">
          <h2>Programs</h2>
        </div>
      </div>
      <div class="col-lg-6 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="100">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus.</p>
      </div>
    </div>

    <div class="row align-items-stretch program">
      <div class="col-12 border-top border-bottom py-5" data-aos="fade" data-aos-delay="200">
        <div class="row align-items-stretch">
          <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">8:00</span> <span>AM</span></div>
          <div class="col-md-9">
            <h2 class="text-white">Design your open source strategy</h2>
            <span>Chris Mathews</span>
          </div>
        </div>
      </div>

      <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="300">
        <div class="row align-items-stretch">
          <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">9:30</span> <span>AM</span></div>
          <div class="col-md-9">
            <h2 class="text-white">Design your open source strategy</h2>
            <span>Chris Mathews</span>
          </div>
        </div>
      </div>

      <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="400">
        <div class="row align-items-stretch">
          <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">10:30</span> <span>AM</span></div>
          <div class="col-md-9">
            <h2 class="text-white">Design your open source strategy</h2>
            <span>Chris Mathews</span>
          </div>
        </div>
      </div>

      <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="500">
        <div class="row align-items-stretch">
          <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">10:45</span> <span>NOON</span></div>
          <div class="col-md-9">
            <h2 class="text-white">Break With Snacks</h2>
          </div>
        </div>
      </div>

      <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="600">
        <div class="row align-items-stretch">
          <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">11:30</span> <span>AM</span></div>
          <div class="col-md-9">
            <h2 class="text-white">Design your open source strategy</h2>
            <span>Chris Mathews</span>
          </div>
        </div>
      </div>

      <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="700">
        <div class="row align-items-stretch">
          <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">12:00</span> <span>NOON</span></div>
          <div class="col-md-9">
            <h2 class="text-white">Break For Lunch</h2>
          </div>
        </div>
      </div>


    </div>
  </div>
</div> -->


{% endblock content %}
