{% extends "jigyasa/base.html" %}
{% load static %}
{% block content %}



<div class="site-section site-hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 col-8">
        <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Jigyasa 2019</span>
        <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200">FIPI FEST JIGYASA 2019</h1>
        <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">5th - 6th April 2019, UPES, Dehradun</span>
        {% if user.is_authenticated %}<a href="{% url 'profile' %}" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>{{ user.username.upper }}</span></a>
        {% else %}
        <a href="{% url 'login' %}" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Login</span></a>
        {% endif %}
      </div>
      <div class="col-md-4 col-4 justify-content-right">
        <div data-aos="fade-up" data-aos-delay="100">
          <div>
            <figure>
              <img src="{% static 'images/jigyasa.png' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section" style="min-height:500px;">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'images/home-poster.jpg' %}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="site-section" style="min-height:500px;">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'images/Logo.png' %}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

{% endblock content %}
