{% extends "jigyasa/base.html" %}
{% load static %}
{% block content %}





<!-- Container (members) -->
<div id="band" class="container text-center">
  <h3>FIPI MEMBERS</h3>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. ADIL KHAN KHOKHAR</strong></p>
      <a href="#demo" data-toggle="collapse">
        <img src="{% static 'images/members/adil.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>(PRESIDENT-UPES FIPI SC)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. SOUMYA SPARSH</strong></p>
      <a href="#demo2" data-toggle="collapse">
        <img src="{% static 'images/members/soumya.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>(VICE-PRESIDENT)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. TARUN KUMAR</strong></p>
      <a href="#demo3" data-toggle="collapse">
        <img src="{% static 'images/members/tarun.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>(NOMINATIONS CHAIRPERSON)</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>



  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. ANIT KUMAR SINHA </strong></p>
      <a href="#demo4" data-toggle="collapse">
        <img src="{% static 'images/members/anit.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>(VICE PRESIDENT)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MS. MAULSHREE SHARMA</strong></p>
      <a href="#demo5" data-toggle="collapse">
        <img src="{% static 'images/members/maulshree.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo5" class="collapse">
        <p>(ALUMNI OFFICER)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MS. MANSI PAREEK</strong></p>
      <a href="#demo6" data-toggle="collapse">
        <img src="{% static 'images/members/mansi.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo6" class="collapse">
        <p>(CHAPTER ADVISOR)</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>MS. MUSKAAN AGARWAL</strong></p>
      <a href="#demo7" data-toggle="collapse">
        <img src="{% static 'images/members/muskaan.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo7" class="collapse">
        <p>(CHAPTER OFFICER)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. MANU CHATURVEDI</strong></p>
      <a href="#demo8" data-toggle="collapse">
        <img src="{% static 'images/members/manu.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo8" class="collapse">
        <p>(SECRETARY)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. RISHABH SINGH BHANOT </strong></p>
      <a href="#demo9" data-toggle="collapse">
        <img src="{% static 'images/members/rishabh.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo9" class="collapse">
        <p>(NOMINATIONS ASSOCIATE)</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>MS. MALVIKA BAJPAI </strong></p>
      <a href="#demo10" data-toggle="collapse">
        <img src="{% static 'images/members/malvika.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo10" class="collapse">
        <p>(TREASURER)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. ANIMESH CHOUDHARY </strong></p>
      <a href="#demo11" data-toggle="collapse">
        <img src="{% static 'images/members/animesh.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo11" class="collapse">
        <p>(INDUSTRY LIAISON)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. ANKIT KUMAR JAISWAL</strong></p>
      <a href="#demo12" data-toggle="collapse">
        <img src="{% static 'images/members/ankit.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo12" class="collapse">
        <p>(Social Activities Chairperson)</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. AMEY AVANISH </strong></p>
      <a href="#demo13" data-toggle="collapse">
        <img src="{% static 'images/members/amey.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo13" class="collapse">
        <p>(EVENTS HEAD)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. MANAN MANOJ ADLAKHA</strong></p>
      <a href="#demo14" data-toggle="collapse">
        <img src="{% static 'images/members/manan.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo14" class="collapse">
        <p>(PUBLIC RELATIONS HEAD)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. GAURAV KUMAR </strong></p>
      <a href="#demo15" data-toggle="collapse">
        <img src="{% static 'images/members/gaurav.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo15" class="collapse">
        <p>(MEMBERSHIP AND REGISTRATIONS HEAD)</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. NAVJOT SINGH</strong></p>
      <a href="#demo16" data-toggle="collapse">
        <img src="{% static 'images/members/navjot.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo16" class="collapse">
        <p>(GRAPHICS AND DESIGNING HEAD)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MR. SANKALP SINGH</strong></p>
      <a href="#demo17" data-toggle="collapse">
        <img src="{% static 'images/members/sankalp.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo17" class="collapse">
        <p>(EDITORIAL HEAD)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>MS. AYUSHI SRIVASTAVA</strong></p>
      <a href="#demo18" data-toggle="collapse">
        <img src="{% static 'images/members/ayushi.jpg' %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo18" class="collapse">
        <p>(PUBLICITY HEAD)</p>
      </div>
    </div>
  </div>
  <br>
  <br>


</div>







{% endblock content %}
