{% extends "jigyasa/base.html" %}
{% load static %}
{% block content %}




<div class="site-section justify-content-center site-hero">
  <div class="container">
    <div class="row align-items-center justify-content-center" style="height:0;">

      <div class="col-md-7 col-lg-7 border-primary pricing" data-aos="fade-up" data-aos-delay="300" style="border:2px solid #00b9f5; border-color:#00b9f5!important;">
        <button class="btn btn-primary px-4 py-2" type="button" style="background-color:#00b9f5; border-color:#00b9f5;"><a href="{% url 'payment' %}" style="color:white;">Paytm</a></button>
        <small class="text-muted">
          Paytm wallet, Debit Card, Credit Card and Net Banking.
        </small>
      </div>

      <div class="col-md-7 col-lg-7 border-primary pricing" data-aos="fade-up" data-aos-delay="300" style="border:2px solid #13ad00; border-color:#13ad00!important;">
        <button class="btn btn-primary px-4 py-2" type="button" style="background-color:#14b200; border-color:#14b200;"><a href="{% url 'home' %}" style="color:white;">Google Pay</a></button>
        <small class="text-muted">
          Click to pay.
        </small>
      </div>

      <div class="col-md-7 col-lg-7 border-primary pricing" data-aos="fade-up" data-aos-delay="300" style="border:2px solid #ba6c00; border-color:#ba6c00!important;">
        <button class="btn btn-primary px-4 py-2" type="button" style="background-color:#ffba26; border-color:#ffba26ffba26;"><a href="{% url 'home' %}" style="color:white;">Amazon Pay</a></button>
        <small class="text-muted">
          Click to pay.
        </small>
      </div>

    </div>
  </div>
</div>




{% endblock content %}
