{% extends "jigyasa/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="site-section justify-content-center site-hero">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="height:0;">
          <div class="col-11 col-md-6 col-lg-6 border-primary pricing" data-aos="fade-up" data-aos-delay="300">
            <h2>You have been logged out</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
          </div>
          </div>

        </div>
      </div>


{% endblock content %}
