{% extends "jigyasa/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="site-section justify-content-center site-hero">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="height:0;">
          <div class="col-md-6 col-lg-6 border-primary pricing" data-aos="fade-up" data-aos-delay="300">
            <div class="alert alert-info">
                Your password has been set.
            </div>
            <a href="{% url 'login' %}">Sign In Here</a>
          </div>
          </div>

        </div>
      </div>


{% endblock content %}
