{% extends "jigyasa/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="site-section justify-content-center site-hero">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="height:0;">
          <div class="col-md-6 col-lg-6 border-primary pricing" data-aos="fade-up" data-aos-delay="300">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color:#ff5733;">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary px-4 py-2" type="submit">Reset Password</button>
                </div>
            </form>
          </div>
          </div>

        </div>
      </div>


{% endblock content %}
