{% extends "jigyasa/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="site-section justify-content-center site-hero" style="min-height:1300px;">
  <div class="container">



    <div class="row align-items-center justify-content-center">

      <div class="col-11 col-md-7 col-lg-7 border-primary pricing mt-5 mb-2" data-aos="fade-up" data-aos-delay="300">
        <button class="btn btn-primary px-4 py-2" type="button"><a href="{% url 'payments_home' %}" style="color:white;">
          Payments</a></button>

          {% if status == True %}
          <small class="text-muted">
                 Payment successfully recieved.
          </small>
            <span class="fas fa-check-circle"></span>
          {% else %}
          <small class="text-muted">
                 Make payment to complete your registration.
          </small>
          <span class="fas fa-times-circle"></span>
          {% endif %}

      </div>

      <div class="col-11 col-md-7 col-lg-7 mb-5 border-primary pricing" data-aos="fade-up" data-aos-delay="300">
        <div class="media-body">
          <legend class="border-bottom mb-4" style="color:#ff5733;">Profile Info</legend>
          <p class="text">Username - {{ user.username }}</p>
          <p class="text">Total members - {{ user.user_details.team_count }}</p>
          <p class="text">Referral - {{ user.user_details.referral }}</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ u_form|crispy }}
            {{ contact_u_form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary px-4 py-2" type="submit">Update</button>
            <small class="text-muted">
              ,If you want to
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
